body {
    min-height: 75rem;
    padding-top: 4.5rem;
}


div.old-price{
    text-decoration: #ff4829 line-through;
    /*color: orangered;*/
}

div.metacritic-score-100{
    display:inline;
    border-radius: 20%;
    background-color: limegreen;
    color: white;
    font-weight: bold;
    padding: 2% 4% 3% 4%;
}


div.metacritic-score-70{
    display:inline;
    border-radius: 20%;
    background-color: #ffd700;
    color: white;
    font-weight: bold;
    padding: 2% 4% 3% 4%;
}



div.metacritic-score-50{
    display:inline;
    border-radius: 20%;
    background-color: #d10000;
    color: white;
    font-weight: bold;
    padding: 2% 4% 3% 4%;
}


div.discount{
    margin: 0 0 0 0;
    padding: 0 0 0 2%;
    border-radius: 10%;
    display: inline;
    color: white;
    background-color: orangered;

}

div.game-title{
    font-weight: bold;
}


div.tbd{
    display:inline;
    border-radius: 20%;
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 2% 4% 3% 4%;
}
