<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nintendo Switch Game Sales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>


</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Nintendo Switch Sales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">

    <h3>Sorting:</h3>
    <div style="margin-bottom: 2rem">
        <a href="/price" class="btn btn-secondary">Price</a>
        <a href="/percentage" class="btn btn-secondary">Percentage</a>
        <a href="/" class="btn btn-secondary">Metacritic score</a>
    </div>

    <div style="margin-bottom: 5rem" class="row" th:each="game, stat : ${games}" th:if="${stat.index==0 || stat.odd }">

        <div class="col-6 col-md-4 col-xl-3" th:with="game1=${games.get(stat.index)}">

            <div>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-3 discount" th:text="${'-' +game1.getPriceDiscountpercentage() + '%'}"></div>
                </div>
                <a th:href="${game1.metacriticURL}"><img style="width: 100%" th:src="${game1.imageURL}"/></a>
                <div class="game-title" th:text="${game1.title}"></div>
                <div class="row">
                    <div class="col-4" th:text="${game1.price + '€'}"></div>
                    <div class="col-8 old-price" th:text="${game1.getOldPrice() + '€'}"></div>
                </div>
                <a th:href="${game1.getMetacriticURL()}"><div th:if="${game1.getMetacriticScore() &lt; 1}" class="col-4 tbd">tbd</div>
                    <div th:if="${game1.getMetacriticScore() gt 70}" class="metacritic-score-100" th:text="${game1.metacriticScore}"></div>
                    <div th:if="${game1.getMetacriticScore() le 70 and game1.getMetacriticScore() gt 50}" class="metacritic-score-70" th:text="${game1.metacriticScore}"></div>
                    <div th:if="${game1.getMetacriticScore() le 50 and game1.getMetacriticScore() gt 0}" class="metacritic-score-50" th:text="${game1.metacriticScore}"></div>
                </a>
            </div>

        </div>


        <div class="col-6 col-md-4 col-xl-3" th:if="${stat.index !=0 and stat.index + 1 &lt; games.size()}"
             th:with="game2=${games.get(stat.index + 1)}">
            <div>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-3 discount" th:text="${'-' +game2.getPriceDiscountpercentage() + '%'}"></div>
                </div>
                <a th:href="${game2.metacriticURL}"><img style="width: 100%" th:src="${game2.imageURL}"/></a>
                <div class="game-title" th:text="${game2.title}"></div>
                <div class="row">
                    <div class="col-4" th:text="${game2.price+ '€'}"></div>
                    <div class="col-8 old-price" th:text="${game2.getOldPrice()+ '€'}"></div>
                </div>
                <div th:if="${game2.getMetacriticScore() &lt; 1}" class="tbd">tbd</div>
                <div th:if="${game2.getMetacriticScore() gt 70}" class="metacritic-score-100" th:text="${game2.metacriticScore}"></div>
                <div th:if="${game2.getMetacriticScore() le 70 and game2.getMetacriticScore() gt 50}" class="metacritic-score-70" th:text="${game2.metacriticScore}"></div>
                <div th:if="${game2.getMetacriticScore() le 50 and game2.getMetacriticScore() gt 0}" class="metacritic-score-50" th:text="${game2.metacriticScore}"></div>
            </div>
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>