<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nintendo Switch Game Sales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Nintendo Switch Games on Sale</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Titel</td>
                    <td>Metacritic Bewertung</td>
                    <td>Preis</td>
                    <td>Rabatt (%)</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}">
                    <td th:text="${game.title}">Some text</td>
                    <td th:text="${game.metacriticScore}">Some text</td>
                    <td th:text="${game.price}">Some text</td>
                    <td th:text="${game.priceDiscountpercentage}">Some text</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>